// Dependencies
@import 'variables';
@import 'popper';

// Base framework
@import 'bootstrap-4.0.0/bootstrap';

body {
  display: flex;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  min-height: 100vh;

  &.home {
    background: url('../images/bg_main@2x.png') no-repeat top center;
    background-size: 340%;
  }
}

span.badge {
  color: $white;
  font-weight: 700;

  &.badge-alert {
    background-color: $red;
  }

  &.badge-warning {
    background-color: $yellow;
  }

  &.badge-ok {
    background-color: $green;
  }
}

a.logo {
  background: url('../images/logo@2x.png') no-repeat center center;
  background-size: contain;
  display: block;
  height: 60px;
  margin: 0 auto;
  width: 300px;
}

section.footer {
  background-color: $gray-two;
  color: $gray-three;
  font-size: .8em;
  margin-bottom: 1em;
  padding: 1.5em;
  text-align: center;
}

section.content {
  flex: 1;
}

// Home screen
section.home {
  margin-top: 40px;

  div.phone {
    background: url('../images/phone@2x.png') no-repeat center center;
    background-size: contain;
    height: 660px;
    margin-top: 40px;
    position: relative;
    width: 100%;

    div.sample-card {
      background: url('../images/card@2x.png') no-repeat center center;
      background-size: contain;
      height: 260px;
      position: absolute;
      right: 5%;
      top: 40%;
      width: 80%;
    }
  }

  div.desc {
    font-size: 1.2em;

    h1 {
      color: $white;
      display: none;
      font-size: 2em;
      font-weight: 600;
      margin: 1em 0;
      text-align: center;
    }

    p {
      color: $white;
      line-height: 1.6em;
      margin: 40px 0;
      text-align: center;
    }
  }

  button.btn {
    background: $black-shade-25;
    border: 0;
    border-radius: 0;
    color: $white;
    display: block;
    font-size: 1.3em;
    margin-bottom: 12px;
    padding: 12px 0;
    text-transform: uppercase;
    width: 100%;
  }
}

// Main menu
section.menu {
  background: url('../images/header_pattern.png') repeat-x top center;
  padding: 2em 1.5em;

  a.logout {
    color: $white;
    display: block;
    font-size: .9em;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;

    span.icon {
      font-size: 1.2em;
    }
  }

  span.avatar {
    background: $white;
    background-image: url('../images/sample_avatar_02.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid $white;
    border-radius: 40px;
    bottom: -70px;
    box-shadow: $shadow;
    cursor: pointer;
    display: block;
    height: 70px;
    left: calc(50% - 35px);
    position: absolute;
    width: 70px;

    span.badge {
      border-radius: 12px;
      position: absolute;
      right: -6px;
      top: -6px;
    }
  }

  // Mobile slider menu
  div.mobile-menu {
    margin: 20px 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      button.btn {
        background: $black-shade-25;
        border: 0;
        border-radius: 0;
        color: $white;
        display: block;
        font-size: 1em;
        margin-bottom: 4px;
        padding: 16px 0;
        text-transform: uppercase;
        width: 100%;
      }
    }
  }

  // Desktop popover menu
  div.desktop-menu {
    display: none;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      border-bottom: 1px solid $gray-two;
      cursor: pointer;
      padding: 20px;

      &:first-child {
        border-radius: $popper-radius $popper-radius 0 0;
      }

      &:last-child {
        border-bottom-style: none;
        border-radius: 0 0 $popper-radius $popper-radius;
      }

      &:hover {
        background: $gray-one;
      }
    }

    div.media {
      align-items: center;

      div.media-left {
        margin-right: 20px;
      }

      div.media-content {
        text-align: left;

        p.title {
          color: $purple;
          font-size: 1em;
          margin-bottom: 0;
          text-transform: uppercase;
        }
    
        p.subtitle {
          color: $gray-three;
          font-size: .9em;
          margin-bottom: 0;
        }
      }
    }

    span.icon {
      background: none no-repeat center center;
      background-size: contain;
      box-shadow: none;
      display: block;
      height: 40px;
      width: 40px;

      &.account {
        background-image: url('../images/icon_account@2x.png');
      }

      &.transactions {
        background-image: url('../images/icon_transactions@2x.png');
      }

      &.invites {
        background-image: url('../images/icon_invites@2x.png');
      }

      &.market {
        background-image: url('../images/icon_market@2x.png');
      }

      &.notifications {
        background-image: url('../images/icon_notifications@2x.png');
      }
    }
  }
}

// Panel
section.panel {
  padding: 50px 0 20px;

  h1 {
    color: $purple;
  }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  body.home {
    background-size: 230%;
  }

  a.logo {
    width: 400px;
  }

  section.home {
    div.phone {
      height: 800px;

      div.sample-card {
        width: 60%;
      }
    }

    div.desc {
      font-size: 1.3em;
    }

    button.btn {
      border: 0;
      border-radius: 3px;
      box-shadow: $shadow;
      color: $white;
      text-transform: uppercase;
      width: 100%;

      &.register {
        background-color: $red;
      }

      &.login {
        background-color: $blue;
      }
    }
  }

  section.menu {
    a.logo {
      background-position: left center;
      margin: 0;
    }

    a.logout {
      float: right;
      margin-right: 20px;
    }

    span.avatar {
      bottom: 0;
      float: right;
      left: 0;
      position: relative;
    }

    div.mobile-menu {
      display: none;
    }
  }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  body.home {
    background-size: 120%;
  }
}
