@import 'variables';

.popper,
.tooltip {
  background: $popper-color;
  border-radius: $popper-radius;
  box-shadow: $shadow;
  color: $black;
  position: absolute;
  text-align: center;
  width: auto;
  z-index: $level-two;

  &.large {
    width: 340px;
  }

  .popper-arrow,
  .tooltip-arrow {
    border: solid $popper-color;
    height: 0;
    margin: $popper-arrow-size;
    position: absolute;
    width: 0;
  }

  &[x-placement^="top"],
  &[x-placement^="top"] {
    margin-bottom: $popper-arrow-size;

    .popper-arrow,
    .tooltip-arrow {
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      border-width: $popper-arrow-size $popper-arrow-size 0 $popper-arrow-size;
      bottom: -$popper-arrow-size;
      left: calc(50% - #{$popper-arrow-size});
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &[x-placement^="bottom"],
  &[x-placement^="tbottomop"] {
    margin-top: $popper-arrow-size;

    .popper-arrow,
    .tooltip-arrow {
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      border-width: 0 $popper-arrow-size $popper-arrow-size $popper-arrow-size;
      left: calc(50% - #{$popper-arrow-size});
      margin-bottom: 0;
      margin-top: 0;
      top: -$popper_arrow_size;
    }
  }

  &[x-placement^="right"],
  &[x-placement^="right"] {
    margin-left: $popper-arrow-size;

    .popper-arrow,
    .tooltip-arrow {
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-top-color: transparent;
      border-width: $popper-arrow-size $popper-arrow-size $popper-arrow-size 0;
      left: -$popper-arrow-size;
      margin-left: 0;
      margin-right: 0;
      top: calc(50% - #{$popper-arrow-size});
    }
  }

  &[x-placement^="left"],
  &[x-placement^="left"] {
    margin-right: $popper-arrow-size;

    .popper-arrow,
    .tooltip-arrow {
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      border-width: $popper-arrow-size 0 $popper-arrow-size $popper-arrow-size;
      margin-left: 0;
      margin-right: 0;
      right: -$popper-arrow-size;
      top: calc(50% - #{$popper-arrow-size});
    }
  }
}
