// General values
$red: #e53935;
$blue: #64b5f6;
$green: #8bc34a;
$purple: #7e57c2;
$yellow: #fbc02d;
$orange: #ffa726;
$white: #fff;
$black: #111;
$black-shade-25: rgba(0, 0, 0, .25);
$black-shade-50: rgba(0, 0, 0, .5);
$black-shade-75: rgba(0, 0, 0, .75);
$gray-one: #fafafa;
$gray-two: #eee;
$gray-three: #bdbdbd;
$gray-four: #666;
$shadow: 0 1px 4px 0 rgba(0, 0, 0, .5);

// Index levels
$level-one:   10;
$level-two:   100;
$level-three: 1000;
$level-four:  10000;

// Popper variables
$popper-color:      $white;
$popper-radius:     4px;
$popper-arrow-size: 6px;
