# dependencies
/node_modules

# testing
/coverage

# production
/build

# temp files
/tmp

# misc
.DS_Store
.idea
.code
.sass-cache
.env.local
.env.development.local
.env.test.local
.env.production.local

# ignore css files coming from sass code
src/**/*.css
src/**/*.css.map
public/**/*.css
public/**/*.css.map
public/css/**/*.css
public/css/**/*.css.map

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock