.popper,
.tooltip {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  color: #111;
  position: absolute;
  text-align: center;
  width: auto;
  z-index: 100; }
  .popper.large,
  .tooltip.large {
    width: 340px; }
  .popper .popper-arrow,
  .popper .tooltip-arrow,
  .tooltip .popper-arrow,
  .tooltip .tooltip-arrow {
    border: solid #fff;
    height: 0;
    margin: 6px;
    position: absolute;
    width: 0; }
  .popper[x-placement^="top"], .popper[x-placement^="top"],
  .tooltip[x-placement^="top"],
  .tooltip[x-placement^="top"] {
    margin-bottom: 6px; }
    .popper[x-placement^="top"] .popper-arrow,
    .popper[x-placement^="top"] .tooltip-arrow, .popper[x-placement^="top"] .popper-arrow,
    .popper[x-placement^="top"] .tooltip-arrow,
    .tooltip[x-placement^="top"] .popper-arrow,
    .tooltip[x-placement^="top"] .tooltip-arrow,
    .tooltip[x-placement^="top"] .popper-arrow,
    .tooltip[x-placement^="top"] .tooltip-arrow {
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      border-width: 6px 6px 0 6px;
      bottom: -6px;
      left: calc(50% - 6px);
      margin-bottom: 0;
      margin-top: 0; }
  .popper[x-placement^="bottom"], .popper[x-placement^="tbottomop"],
  .tooltip[x-placement^="bottom"],
  .tooltip[x-placement^="tbottomop"] {
    margin-top: 6px; }
    .popper[x-placement^="bottom"] .popper-arrow,
    .popper[x-placement^="bottom"] .tooltip-arrow, .popper[x-placement^="tbottomop"] .popper-arrow,
    .popper[x-placement^="tbottomop"] .tooltip-arrow,
    .tooltip[x-placement^="bottom"] .popper-arrow,
    .tooltip[x-placement^="bottom"] .tooltip-arrow,
    .tooltip[x-placement^="tbottomop"] .popper-arrow,
    .tooltip[x-placement^="tbottomop"] .tooltip-arrow {
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      border-width: 0 6px 6px 6px;
      left: calc(50% - 6px);
      margin-bottom: 0;
      margin-top: 0;
      top: -6px; }
  .popper[x-placement^="right"], .popper[x-placement^="right"],
  .tooltip[x-placement^="right"],
  .tooltip[x-placement^="right"] {
    margin-left: 6px; }
    .popper[x-placement^="right"] .popper-arrow,
    .popper[x-placement^="right"] .tooltip-arrow, .popper[x-placement^="right"] .popper-arrow,
    .popper[x-placement^="right"] .tooltip-arrow,
    .tooltip[x-placement^="right"] .popper-arrow,
    .tooltip[x-placement^="right"] .tooltip-arrow,
    .tooltip[x-placement^="right"] .popper-arrow,
    .tooltip[x-placement^="right"] .tooltip-arrow {
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-top-color: transparent;
      border-width: 6px 6px 6px 0;
      left: -6px;
      margin-left: 0;
      margin-right: 0;
      top: calc(50% - 6px); }
  .popper[x-placement^="left"], .popper[x-placement^="left"],
  .tooltip[x-placement^="left"],
  .tooltip[x-placement^="left"] {
    margin-right: 6px; }
    .popper[x-placement^="left"] .popper-arrow,
    .popper[x-placement^="left"] .tooltip-arrow, .popper[x-placement^="left"] .popper-arrow,
    .popper[x-placement^="left"] .tooltip-arrow,
    .tooltip[x-placement^="left"] .popper-arrow,
    .tooltip[x-placement^="left"] .tooltip-arrow,
    .tooltip[x-placement^="left"] .popper-arrow,
    .tooltip[x-placement^="left"] .tooltip-arrow {
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      border-width: 6px 0 6px 6px;
      margin-left: 0;
      margin-right: 0;
      right: -6px;
      top: calc(50% - 6px); }

body {
  display: flex;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 100vh; }
  body.home {
    background: url("../images/bg_main@2x.png") no-repeat top center;
    background-size: 125%; }

span.tag {
  color: #fff;
  font-weight: 700; }
  span.tag.alert {
    background-color: #e53935; }
  span.tag.warning {
    background-color: #fbc02d; }
  span.tag.ok {
    background-color: #8bc34a; }

section.footer {
  background-color: #eee;
  color: #bdbdbd;
  font-size: .9em;
  margin-bottom: 20px;
  padding: 3rem 1.5rem;
  text-align: center; }

section.content {
  flex: 1;
  margin-top: 10px; }

section.home div.phone {
  background: url("../images/phone@2x.png") no-repeat center center;
  background-size: contain;
  height: 800px;
  margin-top: 40px;
  position: relative;
  width: 100%; }
  section.home div.phone div.sample-card {
    background: url("../images/card@2x.png") no-repeat center center;
    background-size: contain;
    height: 260px;
    position: absolute;
    right: 5%;
    top: 40%;
    width: 60%; }
section.home div.desc a.logo {
  background: url("../images/logo@2x.png") no-repeat center center;
  background-size: contain;
  display: block;
  height: 60px;
  margin: 0 auto;
  width: 400px; }
section.home div.desc h1 {
  color: #fff;
  font-size: 2.4em;
  font-weight: 700;
  text-align: center; }
section.home div.desc p.hero {
  color: #fff;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.6em;
  margin: 40px 0;
  text-align: center; }
section.home div.desc a.button {
  border: 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.3em;
  margin-right: 10px;
  padding: 30px;
  text-transform: uppercase;
  width: 100%; }
  section.home div.desc a.button.register {
    background-color: #e53935; }
  section.home div.desc a.button.login {
    background-color: #64b5f6; }

section.menu {
  background: url("../images/header_pattern.png") repeat-x top center;
  padding: 2em 1.5em; }
  section.menu a.logo {
    background: url("../images/logo@2x.png") no-repeat center center;
    background-size: contain;
    display: block;
    height: 60px;
    width: 400px; }
  section.menu a.logout {
    background: none;
    border: 0;
    color: #fff;
    font-size: .9em;
    text-transform: uppercase; }
    section.menu a.logout span.icon {
      font-size: 1.2em; }
  section.menu span.avatar {
    background: #fff;
    border-radius: 40px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: block;
    height: 70px;
    position: relative;
    width: 70px; }
    section.menu span.avatar span.pic {
      background: url("../images/avatar_morty.png") no-repeat center center;
      background-size: contain;
      border-radius: 40px;
      display: block;
      height: 66px;
      margin: 2px;
      width: 66px; }
    section.menu span.avatar span.tag {
      border-radius: 12px;
      position: absolute;
      right: -6px;
      top: -6px; }
  section.menu div.user-menu li {
    border-bottom: 1px solid #eee;
    cursor: pointer;
    padding: 20px; }
    section.menu div.user-menu li:first-child {
      border-radius: 4px 4px 0 0; }
    section.menu div.user-menu li:last-child {
      border-bottom-style: none;
      border-radius: 0 0 4px 4px; }
    section.menu div.user-menu li:hover {
      background: #fafafa; }
  section.menu div.user-menu div.media {
    align-items: center; }
    section.menu div.user-menu div.media div.media-left {
      margin-right: 20px; }
  section.menu div.user-menu span.icon {
    background: none no-repeat center center;
    background-size: contain;
    box-shadow: none;
    height: 40px;
    width: 40px; }
    section.menu div.user-menu span.icon.account {
      background-image: url("../images/icon_account@2x.png"); }
    section.menu div.user-menu span.icon.transactions {
      background-image: url("../images/icon_transactions@2x.png"); }
    section.menu div.user-menu span.icon.invites {
      background-image: url("../images/icon_invites@2x.png"); }
    section.menu div.user-menu span.icon.market {
      background-image: url("../images/icon_market@2x.png"); }
    section.menu div.user-menu span.icon.notifications {
      background-image: url("../images/icon_notifications@2x.png"); }
  section.menu div.user-menu p.title {
    color: #7e57c2;
    font-size: 1em;
    margin-bottom: 1.8em;
    text-transform: uppercase; }
  section.menu div.user-menu p.subtitle {
    color: #bdbdbd;
    font-size: .9em; }
  section.menu div.mobile-menu {
    display: none; }

section.panel h1 {
  color: #7e57c2; }

@media (max-width: 768px) {
  body.home {
    background-size: 500%; }

  section.footer {
    font-size: .8em; }

  section.home div.phone {
    height: 600px; }
    section.home div.phone div.sample-card {
      width: 80%; }
  section.home div.desc a.logo {
    width: 300px; }
  section.home div.desc h1 {
    display: none; }
  section.home div.desc p.hero {
    font-size: 1.1em; }
  section.home div.desc a.button {
    box-shadow: none;
    display: block;
    font-size: 1.3em;
    height: auto;
    margin-bottom: 4px;
    margin-right: 0;
    padding: 10px 0;
    width: 100%; }
    section.home div.desc a.button.register {
      background-color: rgba(0, 0, 0, 0.25); }
    section.home div.desc a.button.login {
      background-color: rgba(0, 0, 0, 0.25); }

  section.menu a.logo {
    margin: 0 auto;
    width: 300px; }
  section.menu a.logout {
    font-size: 1em;
    margin: 12px 0;
    width: 100%; }
  section.menu div.level-right {
    position: relative; }
  section.menu span.avatar {
    left: calc(50% - 35px);
    position: absolute; }
  section.menu div.mobile-menu {
    display: block;
    margin-bottom: 20px; }
    section.menu div.mobile-menu a.button {
      background-color: rgba(0, 0, 0, 0.25);
      border: 0;
      box-shadow: none;
      color: #fff;
      display: block;
      font-size: .9em;
      height: auto;
      margin-bottom: 4px;
      margin-right: 0;
      padding: 16px 0;
      text-transform: uppercase;
      width: 100%; } }

/*# sourceMappingURL=fbank.css.map */
