@import 'variables';
@import 'popper';

body {
  display: flex;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 100vh;

  &.home {
    background: url('../images/bg_main@2x.png') no-repeat top center;
    background-size: 125%;
  }
}

span.tag {
  color: $white;
  font-weight: 700;

  &.alert {
    background-color: $red;
  }

  &.warning {
    background-color: $yellow;
  }

  &.ok {
    background-color: $green;
  }
}

section.footer {
  background-color: $gray-two;
  color: $gray-three;
  font-size: .9em;
  margin-bottom: 20px;
  padding: 3rem 1.5rem;
  text-align: center;
}

section.content {
  flex: 1;
  margin-top: 10px;
}

// Home screen
section.home {
  div.phone {
    background: url('../images/phone@2x.png') no-repeat center center;
    background-size: contain;
    height: 800px;
    margin-top: 40px;
    position: relative;
    width: 100%;

    div.sample-card {
      background: url('../images/card@2x.png') no-repeat center center;
      background-size: contain;
      height: 260px;
      position: absolute;
      right: 5%;
      top: 40%;
      width: 60%;
    }
  }

  div.desc {
    a.logo {
      background: url('../images/logo@2x.png') no-repeat center center;
      background-size: contain;
      display: block;
      height: 60px;
      margin: 0 auto;
      width: 400px;
    }

    h1 {
      color: $white;
      font-size: 2.4em;
      font-weight: 700;
      text-align: center;
    }

    p.hero {
      color: $white;
      font-size: 1.3em;
      font-weight: 300;
      line-height: 1.6em;
      margin: 40px 0;
      text-align: center;
    }

    a.button {
      border: 0;
      box-shadow: $shadow;
      color: $white;
      font-size: 1.3em;
      margin-right: 10px;
      padding: 30px;
      text-transform: uppercase;
      width: 100%;

      &.register {
        background-color: $red;
      }

      &.login {
        background-color: $blue;
      }
    }
  }
}

// Main menu
section.menu {
  background: url('../images/header_pattern.png') repeat-x top center;
  padding: 2em 1.5em;

  a.logo {
    background: url('../images/logo@2x.png') no-repeat center center;
    background-size: contain;
    display: block;
    height: 60px;
    width: 400px;
  }

  a.logout {
    background: none;
    border: 0;
    color: $white;
    font-size: .9em;
    text-transform: uppercase;

    span.icon {
      font-size: 1.2em;
    }
  }

  span.avatar {
    background: $white;
    border-radius: 40px;
    box-shadow: $shadow;
    cursor: pointer;
    display: block;
    height: 70px;
    position: relative;
    width: 70px;

    span.pic {
      background: url('../images/avatar_morty.png') no-repeat center center;
      background-size: contain;
      border-radius: 40px;
      display: block;
      height: 66px;
      margin: 2px;
      width: 66px;
    }

    span.tag {
      border-radius: 12px;
      position: absolute;
      right: -6px;
      top: -6px;
    }
  }

  div.user-menu {
    li {
      border-bottom: 1px solid $gray-two;
      cursor: pointer;
      padding: 20px;

      &:first-child {
        border-radius: $popper-radius $popper-radius 0 0;
      }

      &:last-child {
        border-bottom-style: none;
        border-radius: 0 0 $popper-radius $popper-radius;
      }

      &:hover {
        background: $gray-one;
      }
    }

    div.media {
      align-items: center;

      div.media-left {
        margin-right: 20px;
      }
    }

    span.icon {
      background: none no-repeat center center;
      background-size: contain;
      box-shadow: none;
      height: 40px;
      width: 40px;

      &.account {
        background-image: url('../images/icon_account@2x.png');
      }

      &.transactions {
        background-image: url('../images/icon_transactions@2x.png');
      }

      &.invites {
        background-image: url('../images/icon_invites@2x.png');
      }

      &.market {
        background-image: url('../images/icon_market@2x.png');
      }

      &.notifications {
        background-image: url('../images/icon_notifications@2x.png');
      }
    }

    p.title {
      color: $purple;
      font-size: 1em;
      margin-bottom: 1.8em;
      text-transform: uppercase;
    }

    p.subtitle {
      color: $gray-three;
      font-size: .9em;
    }
  }

  div.mobile-menu {
    display: none;
  }
}

section.panel {
  h1 {
    color: $purple;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) {
  body.home {
    background-size: 500%;
  }

  section.footer {
    font-size: .8em;
  }

  section.home {
    div.phone {
      height: 600px;

      div.sample-card {
        width: 80%;
      }
    }

    div.desc {
      a.logo {
        width: 300px;
      }

      h1 {
        display: none;
      }

      p.hero {
        font-size: 1.1em;
      }

      a.button {
        box-shadow: none;
        display: block;
        font-size: 1.3em;
        height: auto;
        margin-bottom: 4px;
        margin-right: 0;
        padding: 10px 0;
        width: 100%;

        &.register {
          background-color: $black-shade-25;
        }

        &.login {
          background-color: $black-shade-25;
        }
      }
    }
  }

  section.menu {
    a.logo {
      margin: 0 auto;
      width: 300px;
    }

    a.logout {
      font-size: 1em;
      margin: 12px 0;
      width: 100%;
    }

    div.level-right {
      position: relative;
    }

    span.avatar {
      left: calc(50% - 35px);
      position: absolute;
    }

    div.mobile-menu {
      display: block;
      margin-bottom: 20px;

      a.button {
        background-color: $black-shade-25;
        border: 0;
        box-shadow: none;
        color: $white;
        display: block;
        font-size: .9em;
        height: auto;
        margin-bottom: 4px;
        margin-right: 0;
        padding: 16px 0;
        text-transform: uppercase;
        width: 100%;
      }
    }
  }
}
