// General values
$red:        #E53935;
$blue:       #64B5F6;
$green:      #8BC34A;
$purple:     #7E57C2;
$yellow:     #FBC02D;
$orange:     #FFA726;
$white:      #FFFFFF;
$gray_one:   #FAFAFA;
$gray_two:   #EEEEEE;
$gray_three: #BDBDBD;
$shadow:     0px 1px 4px 0px rgba(0, 0, 0, 0.5);

// Index levels
$level_one:   10;
$level_two:   100;
$level_three: 1000;
$level_four:  10000;

// Poper variables
$popper_color:      $white;
$popper_radius:     4px;
$popper_arrow_size: 6px;

@import 'popper';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  &.home {
    background-image: url('../images/bg_main@2x.png');
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: top center;
  }
}

span.tag {
  color: $white;
  font-weight: 700;

  &.alert {
    background-color: $red;
  }

  &.warning {
    background-color: $yellow;
  }

  &.ok {
    background-color: $green;
  }
}

section.footer {
  text-align: center;
  background-color: $gray_two;
  color: $gray_three;
  font-size: .9em;
  padding: 3rem 1.5rem;
  margin-bottom: 20px;
}

section.content {
  flex: 1;
  margin-top: 10px;
}

// Home screen
section.home {
  div.phone {
    width: 100%;
    height: 800px;
    background-image: url('../images/phone@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin-top: 40px;

    div.sample-card {
      width: 60%;
      height: 260px;
      position: absolute;
      top: 40%;
      right: 5%;
      background-image: url('../images/card@2x.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  
  div.desc {
    a.logo {
      width: 400px;
      height: 60px;
      display: block;
      background-image: url('../images/logo@2x.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      margin: 0 auto;
    }

    h1 {
      font-size: 2.4em;
      font-weight: 700;
      color: $white;
      text-align: center;
    }
    
    p.hero {
      color: $white;
      font-size: 1.3em;
      font-weight: 300;
      line-height: 1.6em;
      text-align: center;
      margin: 40px 0;
    }
    
    a.button {
      border: none;
      box-shadow: $shadow;
      color: $white;
      text-transform: uppercase;
      font-size: 1.3em;
      padding: 30px;
      margin-right: 10px;
      width: 100%;

      &.register {
        background-color: $red;
      }
      
      &.login {
        background-color: $blue;
      }
    }
  }
}

// Main menu
section.menu {
  background-image: url('../images/header_pattern.png');
  background-position: top center;
  background-repeat: repeat-x;
  padding: 2em 1.5em;

  a.logo {
    width: 400px;
    height: 60px;
    display: block;
    background-image: url('../images/logo@2x.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  a.logout {
    background: none;
    border: 0;
    color: $white;
    text-transform: uppercase;
    font-size: .9em;

    span.icon {
      font-size: 1.2em;
    }
  }

  span.avatar {
    display: block;
    cursor: pointer;
    width: 70px;
    height: 70px;
    background: $white;
    box-shadow: $shadow;
    border-radius: 40px;
    position: relative;

    span.pic {
      display: block;
      width: 66px;
      height: 66px;
      border-radius: 40px;
      margin: 2px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('../images/avatar_morty.png');
    }

    span.tag {
      position: absolute;
      border-radius: 12px;
      top: -6px;
      right: -6px;
    }
  }

  div.user-menu {
    li {
      padding: 20px;
      border-bottom: 1px solid $gray_two;
      cursor: pointer;

      &:first-child {
        border-radius: $popper_radius $popper_radius 0 0 ;
      }

      &:last-child {
        border-bottom: none;
        border-radius: 0 0 $popper_radius $popper_radius;
      }

      &:hover {
        background: $gray_one;
      }
    }

    div.media {
      align-items: center;

      div.media-left {
        margin-right: 20px;
      }
    }

    span.icon {
      width: 40px;
      height: 40px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: none;
      box-shadow: none;

      &.account {
        background-image: url('../images/icon_account@2x.png');
      }

      &.transactions {
        background-image: url('../images/icon_transactions@2x.png');
      }

      &.invites {
        background-image: url('../images/icon_invites@2x.png');
      }

      &.market {
        background-image: url('../images/icon_market@2x.png');
      }

      &.notifications {
        background-image: url('../images/icon_notifications@2x.png');
      }
    }

    p.title {
      color: $purple;
      font-size: 1em;
      text-transform: uppercase;
      margin-bottom: 1.8em;
    }

    p.subtitle {
      font-size: 0.9em;
      color: $gray_three;
    }
  }

  div.mobile-menu {
    display: none;
  }
}

section.panel {
  h1 {
    color: $purple;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
  body.home {
    background-size: 500%;
  }

  section.footer {
    font-size: .8em;
  }

  section.home {
    div.phone {
      height: 600px;

      div.sample-card {
        width: 80%;
      }
    }

    div.desc {
      a.logo {
        width: 300px;
      }

      h1 {
        display: none;
      }
  
      p.hero {
        font-size: 1.1em;
      }

      a.button {
        font-size: 1.3em;
        display: block;
        width: 100%;
        margin-right: 0;
        padding: 10px 0;
        height: auto;
        box-shadow: none;
        margin-bottom: 4px;

        &.register {
          background-color: rgba(0, 0, 0, 0.25);
        }
        
        &.login {
          background-color: rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  section.menu {
    a.logo {
      margin: 0 auto;
      width: 300px;
    }

    a.logout {
      width: 100%;
      font-size: 1em;
      margin: 12px 0;
    }

    div.level-right {
      position: relative;
    }

    span.avatar {
      position: absolute;
      left: calc(50% - 35px);
    }

    div.mobile-menu {
      margin-bottom: 20px;
      display: block;

      a.button {
        font-size: .9em;
        display: block;
        width: 100%;
        margin-right: 0;
        padding: 16px 0;
        height: auto;
        box-shadow: none;
        margin-bottom: 4px;
        color: $white;
        border: none;
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0.25);
      }
    }
  }
}