.popper,
.tooltip {
  position: absolute;
  background: $popper_color;
  color: black;
  width: auto;
  border-radius: $popper_radius;
  box-shadow: $shadow;
  text-align: center;
  z-index: $level_two;

  &.large {
    width: 340px;
  }

  .popper-arrow,
  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: $popper_arrow_size;
    border-color: $popper_color;
  }

  &[x-placement^="top"],
  &[x-placement^="top"] {
    margin-bottom: $popper_arrow_size;
    .popper-arrow,
    .tooltip-arrow {
      border-width: $popper_arrow_size $popper_arrow_size 0 $popper_arrow_size;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      bottom: -$popper_arrow_size;
      left: calc(50% - $popper_arrow_size);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"],
  &[x-placement^="tbottomop"] {
    margin-top: $popper_arrow_size;
    .popper-arrow,
    .tooltip-arrow {
      border-width: 0 $popper_arrow_size $popper_arrow_size $popper_arrow_size;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      top: -$popper_arrow_size;
      left: calc(50% - $popper_arrow_size);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"],
  &[x-placement^="right"] {
    margin-left: $popper_arrow_size;
    .popper-arrow,
    .tooltip-arrow {
      border-width: $popper_arrow_size $popper_arrow_size $popper_arrow_size 0;
      border-left-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
      left: -$popper_arrow_size;
      top: calc(50% - $popper_arrow_size);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"],
  &[x-placement^="left"] {
    margin-right: $popper_arrow_size;
    .popper-arrow,
    .tooltip-arrow {
      border-width: $popper_arrow_size 0 $popper_arrow_size $popper_arrow_size;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      right: -$popper_arrow_size;
      top: calc(50% - $popper_arrow_size);
      margin-left: 0;
      margin-right: 0;
    }
  }
}
